<!DOCTYPE html>
<html>
  <%- include("partials/head.ejs"); %>
  <body class="d-flex">
    <%- include("partials/sidebar"); %>
    <div class="flex-grow-1">
      <%- include("partials/navbar.ejs"); %>
      <div class="d-flex bg-grey flex-grow-1">
        <div class="left-menu d-flex flex-column flex-shrink-0 bg-white">
          <h6 class="px-3 py-4 mb-0"><b>DASHBOARD</b></h6>
          <hr class="m-0" />
          <a href="#" class="px-3 py-2 text-decoration-none text-dark"
            ><b>Dashboard</b></a
          >
        </div>

        <main class="p-4 w-100">
          <nav class="mb-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#" class="text-decoration-none text-dark"
                  ><b>Dashboard</b></a
                >
              </li>
              <li class="breadcrumb-item" aria-current="page">Dashboard</li>
            </ol>
          </nav>

          <%- include("partials/dashboard_list"); %>
        </main>
      </div>
    </div>
  </body>
</html>
